html {
	perspective: 30px;
}

body,html{
	min-height: 100vh;
	margin: 0px;
	padding: 0px;
	position: relative;
}

#root {
	transition: all .2s;
}

.navigation{
	position: fixed;
	bottom: 0px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	width: 100%;
}
.nav{
	width: 100%;
}
.nava{
	border-left-color: #90a4ae;
	border-right-color: #90a4ae;
	border-width: 1px;
	border-left-style: solid;
	border-right-style: solid;
	background-color: #455a64;
	text-decoration: none;
	color: black;
	display: flex;
	justify-content: center;
	vertical-align: middle;
	padding: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.gradient{
	height: 30vh;
	min-height: 170px;
	width: 100%;
	-webkit-box-shadow: 0px 20px 90px -23px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 20px 90px -23px rgba(0,0,0,0.75);
box-shadow: 0px 20px 90px -23px rgba(0,0,0,0.75);
background: linear-gradient(226deg, #32cca4, #426b94);
background-size: 400% 400%;
-webkit-animation: gradanime 30s ease infinite;
-moz-animation: gradanime 30s ease infinite;
-o-animation: gradanime 30s ease infinite;
animation: gradanime 30s ease infinite;
}

.fadeIn{
	animation: fadeIn 1s;
}

@keyframes fadeIn {
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

.myimg{
	position: relative;
	top: -100px;
	width: 100%;
	text-align: center;
	overflow: visible;
	margin-left: auto;
	margin-right: auto;
	transition: all 0.5s;
}

.mainimg{
	-webkit-box-shadow: 0px 20px 44px -12px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 20px 44px -12px rgba(0,0,0,0.75);
	box-shadow: 0px 20px 44px -12px rgba(0,0,0,0.75);
	width: 17vw;
	border-radius: 100px;
	min-width: 150px;
	max-width: 200px;
}

#sidebar {
	position: absolute;
	height: 100%;
	width: 300px;
	top: 0;
	left: 0;
	background-color: white;
	z-index: 7;
	transition: all .3s;
	transform: translate(-300px, 0px);
}

#sidebar.open {
	transform: translate(0px, 0px);
	-webkit-box-shadow: 28px 10px 114px -18px rgba(0,0,0,0.75);
	-moz-box-shadow: 28px 10px 114px -18px rgba(0,0,0,0.75);
	box-shadow: 28px 10px 114px -18px rgba(0,0,0,0.75);
}


#overlay {
	transition: all .3s;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: 5;
	display: none;
	opacity: 0;
}

#overlay.open {
	display: block;
	opacity: 1;
}

.hamburger {
	z-index: 10;
	padding: 20px;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}



.hamburger div {
	width: 15px;
	border-radius: 10px;
	margin-bottom: 5px;
	border-style: solid;
	border-width: 3px;
	border-color: black;
	transition: all .5s;
}
.hamburger div:nth-child(even) {
	width: 25px;
}

.hamburger-open div:nth-child(even) {
	transform: rotateZ(180deg);	
}

.hamburger-open div:nth-child(1) {
	width: 15px;
	transform: translateY(5px) translateX(-3px) rotate(-405deg);
}
.hamburger-open div:nth-child(3) {
	width: 15px;
	transform: translateY(-5px) translateX(-3px) rotate(405deg);
}

.move-back {
	transform: translateZ(-2px);
}

@media screen and (max-width:500px) {
	.myimg {
		top:-75px;
	}
}

@-webkit-keyframes gradanime {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes gradanime {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes gradanime {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes gradanime { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

